{
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "serviceworker": true
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 1,
        "when": "always"
      }
    ],
    "react/jsx-first-prop-new-line": [1, "multiline-multiprop"],
    "react/jsx-indent-props": [1, 2],
    "@typescript-eslint/ban-ts-comment": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
