@import '/src/system/assets/styles/variables';

.as3-switch.form-switch {
  &.form-check-inline {
    display: inline-flex;
    align-items: center;
    margin-right: unset;
    margin-left: unset;
    padding-left: unset;
  }

  .form-check-input {
    margin-left: unset;
    margin-top: unset;
  }

  .form-check-label {
    margin-left: map-get($spacers, 1);
  }
}
