@import '/src/system/assets/styles/variables';

.as3-chip {
  $width: 80px;
  $diff: 20px;

  border-radius: $border-radius-pill;
  min-width: $width;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.btn-sm {
    min-width: calc($width - $diff);
  }

  &.btn-lg {
    min-width: calc($width + $diff);
  }
}
