@import '/src/system/assets/styles/variables';

.as3-input {
  margin-bottom: map-get($spacers, 3);

  .form-label {
    margin-bottom: map-get($spacers, 1);
  }

  .form-floating {
    width: 100%;
  }
}
