.filter__container {
  display: grid;
  grid-template-columns: 17fr 2fr;
}

.sort__btn {
  background-color: #dbdee2;
  border: none;
  align-self: flex-end;
}

.vip__container {
  display: grid;
  grid-template-columns: 2fr 15fr 2fr;
  // background-color: rgba(184, 170, 44, 0.589);
  background-image: linear-gradient(to top left, #ffaf03bd, #ffcd03c2);
}

.__container {
  display: grid;
  grid-template-columns: 2fr 15fr 2fr;
  background-color: rgba(255, 255, 255, 0.808);
}

.posts {
  padding-top: 1.1rem;
  text-align: center;
  font-weight: bold;
}

.post__number {
  margin: 0;
}

.isPublic {
  margin-right: 1rem;
  padding-top: 1.9rem;
  text-align: start;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.info__container {
  padding: 0.4rem 0 0.4rem 1rem;
  border-left: thin solid rgb(218, 212, 212);
  // font-size: 1.1rem;
}
