@import '/src/system/assets/styles/variables';

.profile {
  .card:not(:last-child) {
    margin-bottom: map-get($spacers, 3);
  }

  .as3-button.btn-edit {
    color: $gray-600;
  }

  .card-title {
    display: flex;
    align-items: center;
  }

  .introduction {
    position: relative;
    display: flex;
    flex-direction: row;

    .profile__avatar:hover {
      background-color: #444;

      .btn__upload {
        visibility: visible;
      }
    }

    .btn__upload {
      visibility: visible;
    }

    .card-subtitle {
      font-weight: $font-weight-normal;

      &.location {
        color: $gray-600;
      }
    }

    .card-body {
      padding-top: $spacer * 4.5;
    }

    .work {
      position: relative;
      padding-top: $spacer * 4.5;
      padding-bottom: map-get($spacers, 3);
      width: 10rem;
    }

    .avatar-wrapper {
      position: absolute;
      top: -#{$spacer * 4};

      .as3-avatar {
        position: relative;

        .as3-button {
          visibility: hidden;
          position: absolute;
          left: 34%;
          top: 36%;
        }

        &:hover {
          .as3-button {
            visibility: visible;
          }
        }
      }
    }
  }

  .about {
    position: relative;
  }

  .experience {
    .list-group-item {
      display: flex;
      flex-direction: row;

      .delete__icon {
        visibility: hidden;
      }

      &:hover {
        .delete__icon {
          visibility: visible;
        }
      }
    }
  }
}

.cursor {
  cursor: pointer;
}
